
<div class="row">


  <div class="col-md-12 task-list">


    <!--    список задач -->
    <div class="card" *ngIf="!isMobile && tasks && tasks.length > 0">
      <!-- показывать таблицу, если это не моб. устройство -->

      <div class="card-body">

        <div class="table-responsive" *ngIf="tasks && (tasks.length > 0)">

          <table mat-table [dataSource]="dataSource" matSort data-step="2"
                 data-intro="Список всех задач с возможностью редактирования"
                 data-position='bottom' >


            <!--            цвет приоритета  -->
            <ng-container matColumnDef="color">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="col-color" mat-cell *matCellDef="let task"
                  [style.background-color]="getPriorityColor(task)"></td>
            </ng-container>


            <!--            нумерация-->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="col-id" mat-cell *matCellDef="let index = index;">

                <!-- для сквозной нумерации -->
                {{index + 1 + taskSearchValues.pageNumber * taskSearchValues.pageSize}}

              </td>
            </ng-container>


            <!--            название задачи-->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Название</th>
              <td class="col-title title pointer" mat-cell *matCellDef="let task" [class.completed]="task.completed"
                  (click)="openEditDialog(task)">

                {{task.title}}

              </td>
            </ng-container>

            <!--дата выполнения-->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Срок</th>
              <td class="col-date" mat-cell *matCellDef="let task"
                  [ngClass]="{'completed': task.completed, 'nodate': task.date == null}">

                {{task.date | taskDate}}

              </td>
            </ng-container>

            <!--приоритет-->
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Приоритет</th>
              <td class="col-priority" mat-cell *matCellDef="let task"
                  [ngClass]="{'completed': task.completed, 'nopriority': task.priority == null}"
              >

                {{task.priority ? task.priority.title : "Без приоритета"}}


              </td>
            </ng-container>

            <!--категория-->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Категория</th>
              <td class="col-category"
                  mat-cell *matCellDef="let task"
                  [ngClass]="{'completed': task.completed, 'nocategory': task.category == null}"

              >

                {{task.category ? task.category.title : "Без категории"}}

              </td>
            </ng-container>

            <!--доступные действия над задачей-->
            <ng-container matColumnDef="operations">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="col-operations" mat-cell *matCellDef="let task" [class.completed]="task.completed">

                <button mat-icon-button (click)="openDeleteDialog(task)"
                        class="delete-icon"
                >
                  <mat-icon aria-hidden="false">delete</mat-icon>
                </button>


                <button mat-icon-button (click)="openEditDialog(task)"
                        class="edit-icon"
                >

                  <mat-icon aria-hidden="false">edit</mat-icon>
                </button>

              </td>
            </ng-container>


            <!--            галочка для выполнения задачи-->
            <ng-container matColumnDef="select">

              <th mat-header-cell *matHeaderCellDef></th>

              <td class="col-select text-right" mat-cell *matCellDef="let task">

                <mat-checkbox

                  (click)="$event.stopPropagation()"

                  (change)="$event ? onToggleCompleted(task) : null"

                  [checked]="task.completed"
                >

                </mat-checkbox>


              </td>
            </ng-container>


            <!--            какие поля отображать-->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>


          <mat-paginator (page)="pageChanged($event)" [pageIndex]="taskSearchValues.pageNumber"
                         [pageSize]="taskSearchValues.pageSize" [length]="totalTasksFounded"
                         [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>


        </div>


      </div>
    </div>


    <!--если задачи не найдены - показать пользователю-->
    <div class="card" *ngIf="tasks && tasks.length === 0">
      <p class="not-found">Ничего не найдено</p>
    </div>


    <!--    показ задач для мобильных устройств-->
    <div *ngIf="isMobile && tasks && tasks.length > 0">
      <div *ngFor="let task of tasks; let index = index; "
           [ngClass]="{'completed': task.completed}">


        <div class="card card-mobile" (click)="$event.stopPropagation(); openEditDialog(task)"
             [ngClass]="{'background-completed': task.completed}">

          <div class="mobile-priority-top"
               [style.background-color]="getPriorityColor(task)"
               [ngClass]="{'background-completed': task.completed}"></div>

          <div class="row">

            <div class="mobile-title-inner  col-9 align-top">


              <div class="mobile-title" [class.completed]="task.completed"
              >{{task.title}}
              </div>


            </div>

            <div class="col-2 align-top mobile-check">

              <button mat-icon-button (click)="$event.stopPropagation(); onToggleCompleted(task)"
                      *ngIf="!task.completed">
                <mat-icon class="check-icon-notcompleted" (click)="$event.stopPropagation(); onToggleCompleted(task)"

                >check_circle_outline
                </mat-icon>
              </button>


              <button mat-icon-button (click)="$event.stopPropagation(); onToggleCompleted(task)"
                      *ngIf="task.completed">
                <mat-icon class="check-icon-completed">check_circle</mat-icon>
              </button>
            </div>


          </div>

          <div class="row">

            <div class="mobile-info-inner  col-12 align-top">
              <div class="mobile-category"
                   [ngClass]="{'completed': task.completed}"
              >
                <p
                  [ngClass]="{'category': !task.completed && task.category}"> {{task.category ? task.category.title :
                  'Без категории'}} </p>
              </div>

              <div *ngIf="task.priority" class="mobile-priority">
                <p [ngClass]="{'priority': !task.completed, 'completed': task.completed}"
                   [style.background-color]="getPriorityBgColor(task)"> {{task.priority.title}} </p>
              </div>


              <div class="mobile-date" [ngClass]="{'completed': task.completed}">
                {{task.date | taskDate}}
              </div>


            </div>


          </div>


        </div>
      </div>


    </div>


  </div>

</div>
